* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Merubah tampilan scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(242, 242, 242, 0.662745098);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@font-face {
  font-family: "Helvetica";
  src: url(../../../utilities/fonts/HelveticaNeue/helveticaneue.woff) format("woof");
  src: url(../../../utilities/fonts/HelveticaNeue/helveticaneue.woff2) format("woof2");
}
body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-txt);
  font-family: Arial, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body a {
  color: var(--color-headline);
}
body p {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
body ul,
body ol {
  list-style: none;
}
body button {
  border-radius: 5px;
  min-width: 35px;
  background-color: var(--color-btn);
  transition: filter 0.2s ease-out;
  border: none;
  overflow: hidden;
}
body button:hover {
  cursor: pointer;
  filter: brightness(0.8);
  /* ubah kecerahan elemen menjadi 80% saat di-hover */
}
body .d-none {
  display: none;
}

nav {
  background-color: var(--color-bg-side);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 0px 25px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 2px 28px -15px #000000;
}
nav .menu {
  display: flex;
  align-items: center;
}
nav .menu .btn-menu {
  display: block;
  padding-top: 3px;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 20px;
}
nav .brand {
  display: flex;
  align-items: center;
}
nav .brand i {
  font-size: 1.3rem;
  margin: 0 10px;
}
nav .dropdown {
  position: relative;
  display: inline-flex;
  height: 100%;
  align-items: center;
}
nav .dropdown:hover .dropdown-content {
  display: block;
}
nav .dropdown .dropdown-content {
  width: 100%;
  top: 55px;
  display: none;
  position: absolute;
  background-color: var(--color-bg-side);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border: 0px 1px 1px 1px solid var(--color-border);
}
nav .dropdown .dropdown-content a {
  padding: 5px 20px;
  display: flex;
  font-size: 12px;
  align-items: center;
}
nav .dropdown .dropdown-content a:hover {
  background-color: var(--color-bg);
  filter: brightness(0.8);
}
nav .dropdown .dropdown-content a span {
  margin: 0 10px;
}
nav .dropdown .user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-headline);
}
nav .dropdown .user .user__img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
nav .dropdown .user .user__name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 10px;
}

.sidebar {
  display: flex;
  min-height: 100vh;
  margin-top: 55px;
}
.sidebar .sidebar__sidebar {
  background-color: var(--color-bg-side);
  width: 220px;
  padding: 25px;
  position: fixed;
  height: 100vh;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
}
.sidebar .sidebar__main {
  padding: 25px;
  overflow: auto;
  transition: all 0.3s ease-out;
}
.sidebar.sidebar--show .sidebar__sidebar {
  transform: translateX(0);
}
.sidebar.sidebar--show .sidebar__sidebar:hover {
  overflow-y: auto;
}
.sidebar.sidebar--show .sidebar__main {
  margin-left: 220px;
}

/* Layar besar (lebar minimum 1200px) */
@media screen and (min-width: 1200px) {
  /* style untuk layar besar di sini */
}
/* Layar sedang (lebar minimum 768px) */
@media screen and (max-width: 1199px) {
  /* style untuk layar sedang di sini */
  nav .menu h4 {
    display: none;
  }
  nav .dropdown .user span {
    display: none;
  }
  nav .dropdown .dropdown-content {
    right: 0;
    width: 150px;
  }
  .sidebar .sidebar__sidebar {
    transform: translateX(0);
  }
  .sidebar .sidebar__main {
    margin-left: 220px;
  }
  .sidebar.sidebar--show .sidebar__sidebar {
    transform: translateX(-100%);
  }
  .sidebar.sidebar--show .sidebar__sidebar:hover {
    overflow-y: auto;
  }
  .sidebar.sidebar--show .sidebar__main {
    margin-left: 0;
  }
}
/* Layar kecil (lebar maksimum 767px) */
@media screen and (max-width: 767px) {
  /* style untuk layar kecil di sini */
}
:root {
  --color-bg: #232946;
  --color-bg-side: #233246;
  --color-btn: #eebbc3;
  --color-btn-txt: #232946;
  --color-txt: #b8c1ec;
  --color-headline: #fffffe;
  --color-border: #121629;
}/*# sourceMappingURL=style.css.map */